body{
    background: #141414;
}

header img{
    filter: invert(100%);
}

header{
    background-color: #121212;
    border-bottom: 0.5px solid #000000
}

.Menu{
    position: absolute;
    width: 100%;

    transform: translateX(-110%);
    transition: 200ms linear;
}

.btnMenu {
    position: absolute;
    width: 25px;
    padding: 10px 10px;
    float: left;
    display: block;
}

.open{
    transform: translateX(-2%); /* To aling the hr to the border*/
}

.Logo{
    width: 40%;
    padding: 10px;
    margin-left: 30%;
    align-content: center;
}

.search_icon{
    background-color: transparent;

    width: 25px;
    float: right;
    padding: 10px 10px 5px 10px;
}

#search_input {
    border-radius: 50px;
    border: 1px solid #808080;
    padding-left: 1%;

    font-size: 15px;

    width: 70%;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 35px;
    float: left;

    display: none;
}


                /*Menu*/
#Btn{
    font-size: 25px;
    text-align: center;
    position: absolute;
    word-spacing: 10px;

    padding-left: 0;
    padding-top: 20px;
}

.Menu li {
    display: block;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #808080;
    background-color: #141414;
}

.Menu li:hover {
    background-color: #4d4c4c;
}

.Menu li a {
    color: white;
    text-decoration: none; /*Sem underline*/
    width: 100%;
}

/*EFECT*/

.info {
    position: relative;
    
    right: 35px;
    bottom: -15px; /*Não pode ser usando top*/

    width: 145px;
    border-radius: 10px;

    display: inline-block;
    transition: transform .25s linear;
    opacity: 0;
    background-color: #000000;
    height: 100%;
    transform: scaleY(0);
}

.titulo:hover .info {
    opacity: 0.8;
    transform: scaleY(1);
    transform-origin: bottom;
}

.topic-Title{
    text-align: center;
    font-size: 20px;
    white-space: normal; /*Quebra de Linha*/
    

    color: #ffffff;
    list-style: none;

    padding-bottom: 20px;
    padding: 0;

    margin-top: 20px;
    margin-left: -30px;
}

.topic-Subtitle {
    text-align: center;
    font-size: 20px;
    white-space: normal;

    color: #ffffff;
    list-style: none;
    padding-top: 20px;
    padding: 10px;
    margin-left: -30px;
}

.topic {
    color: #ffffff;
    position: relative;
    list-style: none;
    
    text-align: center;
    padding: 10px;
    margin-left: -30px;
}

/*O dobro do original*/
@media (min-width: 480px) {
    .btnMenu {
        width: 32px;
        padding: 2px 10px;
    }

    .Logo {
        padding-top: 0;
    }

    .search_icon {
        width: 32px;
        padding: 0px 10px 10px 10px;
    }

    #search_input {
        height: 35px;
        top: 8px;
        left: 60px;

        font-size: 20px;
    }

            /*Menu*/
    #Btn {
        font-size: 30px;
        word-spacing: 10px;
    }

    .Menu li {
        padding: 10px;
    }
}

 /*1.9x maior*/
@media (min-width: 768px) {

    .search_icon {
        width: 50px;
        padding: 5px 10px 10px 10px;
    }

    header{
        padding-bottom: 50px;
        border: none;
    }

    .Logo {
        position: relative;

        margin-left: 0;
        padding-top: 10px;
        padding-left: 10px;
        width: 150px;
        float: left;
    }

    .Menu{
        transform: translateX(0);
    }

    .btnMenu {
        display: none;
    }

    .search_icon{
        width: 30px;
        float: right;
        padding: 10px 30px 30px 3px;
    }

    #search_input {
        position: relative;
        float: right;

        font-size: 15px;

        height: 0px;
        width: 300px;

        top: 30px;
        left: -10px;

        display: block;
    }


                /*Menu*/
    .Menu li {
        position: relative;
        display: inline-block;
        border-bottom: none;
        background-color: transparent;
        margin-left: -100px;
        margin-right: 100px;
        height: 30px;
        font-size: 25px;
        word-spacing: 30px;
        bottom: 50px;
    }

    .Menu li:hover {
        background-color: transparent;
    }

    .Menu li::before{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2.5px;
        bottom: 10px;
        left: 0;
        
        background-color: #ffffff;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
    }

    .Menu li:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    #search_input {
        display: block;
        height: 25px;
        width: 200px;
        top: 10px;
        left: -40px;

        font-size: 32px;
    }

            /*Menu*/
    ul #Btn{
        border-bottom: 0;
        padding-bottom: 0;
    }

}

/*2.8x maior*/
@media (min-width: 1024px) {
    .btnMenu {
        width: 65px;
        padding-top: 4px;
        padding-left: 33px;
    }

    .search_icon {
        width: 45px;
        padding: 15px 20px 10px 33px;
    }

    .logo{
        width: 300px;
    }

    #search_input {
        height: 35px;
        width: 300px;
        top: 20;
        left: 25px;

        font-size: 40px;
    }

    /*Menu*/
    #Btn {
        font-size: 65px;
    }

    .Menu li {
        font-size: 40px;
        bottom: 90px;
        left: 70px;
    }
}

/*3.5x maior que o original*/
@media (min-width: 1280px) {

        /*HEADER*/
    header{
        padding-bottom: 80px;
        border: none;
    }

    .Logo {
        margin-left: 0;
        padding-top: 10px;
        padding-left: 10px;
        width: 400px;
    }

    .Menu{
        transform: translateX(0);
    }

    .btnMenu {
        display: none;
    }

    .search_icon{
        width: 50px;
        float: right;
        padding: 25px 30px 30px 3px;
    }

    #search_input {
        position: relative;
        float: right;

        font-size: 25px;

        height: 40px;
        width: 300px;

        top: 30px;
        left: -10px;

        display: block;
    }


                /*Menu*/
    .Menu li {
        display: inline-block;
        border-bottom: none;
        font-size: 55px;
        word-spacing: 30px;
        position: relative;
        bottom: 70px;
        left: 100px;
    }

    .Menu li:hover {
        background-color: transparent;
    }

    .Menu li::before{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2.5px;
        bottom: 0;
        left: 0;
        
        background-color: #ffffff;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
    }

    .Menu li:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .Menu li a {
        text-decoration: none; /*Sem underline*/
    }
}