.movies, .series, .series{
    width: 315px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #999;
    font-size: 25px;
}

.title{
    padding-right: 5px;
    padding-left: 5px;
}

.title{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 10px;
    border: 0;
    border-right: 10px;
    width: 95px;
}

.capa{
    border-radius: 0px;
    margin-right: 10px;
    height: 134px;
    width: 94px;
    box-shadow: 5px 5px 10px #000000;
}

a{
    text-decoration: none;
}

.info{
    display: none;
    list-style-type: none;
    color: #fff;
    transform: scale(0.7);
}

.topic-Title{
    text-emphasis: bold;
}

.oscar{
    position: absolute;
    transform: scale(0.05);
    bottom: -95px;
    left: -85px;
}

@media (min-width: 480px) {   
    .movies, .series{
        width: 452px;
    }

    .title{
        width: 103px;
    }

    .capa{
        height: 160px;
        width: 103px;
    }

    h1{
        font-size: 30px;
    }

    .oscar{
        transform: scale(0.08);
        bottom: -76px;
        left: -82px;
    }
}

@media (min-width: 768px) {
    .movies, .series{
        width: 680px;
    }

    .title{
        width: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .capa{
        height: 201px;
        width: 150px;
    }

    h1{
        font-size: 40px;
    }

    .oscar{
        transform: scale(0.1);
        bottom: -40px;
        left: -75px;
    }
}

@media (min-width: 1024px) {
    .movies, .series{
        width: 832px;
    }

    .title{
        width: 188px;
    }

    .capa{
        height: 262px;
        width: 188px;
    }

    h1{
        font-size: 50px;
    }

    .oscar{
        transform: scale(0.15);
        bottom: 10px;
        left: -70px;
    }
}

@media (min-width: 1280px) {
    .movies, .series{
        width: 1225px;
    }

    .title{
        width: 225px;
    }

    .capa{
        height: 321px;
        width: 225px;
    }

    h1{
        font-size: 60px;
    }

    .oscar{
        transform: scale(0.18);
        bottom: 65px;
        left: -65px;
    }
}